body {
    background-image: url("mustaches.jpeg");
}

h3{
    box-shadow: 2px 2px 38px black;
}

.btn-warning{
    box-shadow: 2px 2px 38px black;
}

canvas{
    border: 5px solid black;
    box-shadow: 2px 2px 38px black;
}